
.maximoContainer{
    height: 100%;
    height: 100%;
    background-color: none;
}

.containerChat{
    width: 100%;
    height: 460px;
    background: none;

    color: white;
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0 0 20px;

    flex-direction: column;
    overflow: hidden;  

    overflow-y: auto;
}

.containerChat::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.containerChat.active{
    background: white;
    color: rgba(0, 0, 0, 0.527);
}

.titleChat{
    font-size: 1.3rem;
    width: 100%;
    height: 50px;

    background: none;
    margin: 0 0 10px 0;
    padding-left: 20px;

    background-color: white;
    display: flex;
    align-items: center;
    color: black;
}

.titleChat.active{
    background-color: rgba(49, 51, 64);
    color: white;
}