
.containerDelete {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-direction: column;
    padding-top: 100px;
    z-index: 10;
}

.containerDelete h1{
    text-align: center;
    margin-right: 10%;
}

.containerDelete img{
    width: 50px;
    padding-top: 20px;
}

.containerDelete p{
    color: rgba(255, 255, 255, 0.363);
    width: 50%;
    text-align: center;
}

.containerDelete button{
    margin-right: 42%;
    color: white;
    background-color: rgba(170, 53, 51);

    border: none;
    border-radius: 5px;
}

.confirm{
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.486);

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmDelete{
    width: 20%;
    height: 30%;
    background-color: rgba(55, 58, 73);

    border-radius: 5px; 
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: center;
    position: relative;
}

.confirmDelete p{
    width: 100%;
}

.exit{
    position: absolute;
    top: -10px;
    right: 20px;
    cursor: pointer;
}

.exit img{
    width: 20px;
    filter: invert(100%);
}

.apague{
    display: flex;
    align-items: center;

    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.apague button{
    margin-left: 42%;
}