
.imgMessage{
    width: 30px;
}

.containerUserMessage{
    background-color: none;
    width: 60%;
    margin-right: auto;

    max-height: 500px;
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.imgMessage{
    width: 25px;
}

.containerImgMessage{
    width: 40px;
    height: 100%;
    background-color: none;

    position: relative;
    margin-bottom: 5px;
    color: black;
}

.containerMsg{
    background-color: rgb(207, 207, 207);
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: column;
    border-radius: 0px 5px 5px 5px;

    padding: 8px 12px;
    max-width: 75%;
    width: fit-content;

    word-wrap: break-word;
    overflow-wrap: break-word;
    min-width: 120px;

    position: relative;
}

.containerMsg::before {
    content: "";
    position: absolute;
    top: 0px;   

    left: -15px;    
    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-bottom: 15px solid rgb(207, 207, 207); 
    transform: rotate(270deg);
}

.divUserMessage{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    flex-direction: row;
    height: 10px;
    width: 100%;

    padding-top: 5px;
    color: blue;
}

.mensagem{
    width: 100%;
    max-height: 430px;
    min-height: 40px;

    color: black;
}

.mensagem p {
    word-break: break-word;
}

.containerImgMessage.active{
    filter: invert(100%);
}