
.imgMessage2{
    width: 30px;
}

.containerUserMessage2{
    background-color: none;
    width: 100%;
    height: auto;    

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    flex-direction: column;
    position: relative;
    padding-top: 10px;

    margin-bottom: 20px;
    margin-right: 60px;
}

.imgMessage2{
    width: 25px;
}

.containerImgMessage2{
    width: 40px;
    height: 100%;
    background-color: none;

    position: relative;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.24);
}

.containerMsg2{
    background-color: rgba(180, 231, 255);
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: row;
    border-radius: 5px 0px 5px 5px;

    padding: 8px 12px;
    max-width: 75%;
    width: fit-content;

    word-wrap: break-word;
    overflow-wrap: break-word;
    min-width: 120px;

    position: relative;
}

.containerMsg2::before {
    content: "";
    position: absolute;
    top: 0px;   

    right: -14px;   
    width: 0;
    height: 0;

    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(180, 231, 255);
    transform: rotate(90deg);
    z-index: 8;
}

/* rgba(180, 23  1, 255) */


.divUserMessage2{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    flex-direction: row;
    width: 100%;

    padding-top: 5px;
    color: blue;
    margin-bottom: 5px;
}

.mensagem2{
    width: 100%;
    max-height: 430px;
    min-height: 40px;

    color: black;
    max-height: 430px;
    overflow-y: auto;
}

.mensagem2 p {
    word-break: break-word;
}